@import '../app/variables.scss';

/* Header */
header {
	background: #000 url(/images/header.jpg);
	background-size: cover;
	color: #fff;
	padding: 40px 0;
	@extend .roboto-reg;
	font-weight: 400;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0);

	dd {
    color: rgba(255, 255, 255, 0.5);
  }

  dt {
    @extend .roboto-bold;
		font-weight: 700;
  }
}
#logo {
	display: block;
}
nav a {
	color: #fff;
	display: block
}
.signup .short {
	display: none
}
#slides {
	width: 100%;
	min-height: 120px;
	max-width: 550px
}
