@import '../../app/variables.scss';

.risk {
  float: right;
  text-align: right;
  margin-top: 10px;
  dl {
    float: left;
    margin: 20px 20px 0 0;
  }
  dd {
    font-size: 0.8125rem;
  }
  #dial {
    float: right;
  }
}
