@import '../../app/variables.scss';

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

.progressbar {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #d9d9d9;
}
.progressbar span {
  display: block;
  background-color: $color-4;
  height: 8px;
  border-radius: 4px;
  width: auto;
}
$size: 60px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #3f1f18;
  position: relative;
  &.gt-50 {
    background-color: #f2830c;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #f2830c;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #3f1f18;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.2});
  background: #7d5a54;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 1rem;
    @extend .roboto-bold;
    color: #fff;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}
/* Breadcrumbs  */
.breadcrumbs {
  clear: both;
  width: 100%;
  position: relative;
  padding: 0;
  li {
    display: block;
    float: left;
    width: 10%;
    font-size: 0.75rem;
    color: #fff;
    padding-top: 16px;
    z-index: 3;
    position: relative;
  }
  li:first-child {
    padding-left: 4px;
  }
  li:before {
    height: 8px;
    background: $color-4;
    content: "";
    display: inline-block;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
  }
  li:last-child:before {
    background: rgba(255, 255, 255, 0.5);
  }
  li:first-child:before {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  li:nth-child(10):before {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  li + li {
    padding-left: 8px;
  }
}
.breadcrumbs:before {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.25);
  content: "";
}
.breadcrumbs:after {
  width: 100%;
  height: 30px;
  background: url("/images/lines.png") top center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 4;
}
